body{
    background: linear-gradient(rgb(104, 44, 44),rgb(233, 147, 76)) !important;
    background-color: blue;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    user-select: none;
}

/* Container Pantalla Inicio */
.container-start{
    position: absolute;
    text-align: center;
    width: 500px;
    
    margin: 170px auto;
    left: 20%;
}
.container-start h3{
    text-transform: uppercase;
}
.container-start-buttons button{
    font-size: 2em;
    padding: 10px;
    border:  none;
    background-color: chartreuse;
    border-radius: 10px;
    margin: 10px;
}

/* Container Juego */
.card-element{
    width: 160px; 
    height: 150px;
    text-align: center;
    background-color: rgb(243, 108, 54) !important;
}
.card-element:hover {
    background-color: rgb(114, 63, 43) !important;
}
.diseableM{
    background-color: rgba(97, 97, 97, 0.418) !important;
}
.card-element img{
    width: 80px;
}
.container-game{
    visibility: hidden; /* No olvidar */
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;

}

/* Container Pantalla */
.container-pantalla{
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    align-items: center;
    
}
.container-buttons{
    grid-column: 1/5;
    position: absolute;
    left: 30%;
    top:80vh;
}

.container-opcion-bot, .container-opcion-j1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

}
.container-opcionpj, .container-opcionbot{
    width: 176px;
}

/* Container Return */
.container-return{
    grid-column: 1 / 4;
    display: none;
    
    justify-content: space-between;
    top: 50px;
}
.container-return button{
    font-size: 2em;
    z-index: 1000;
    margin: 0 30px;

}
.container-marker{
    grid-column:  1 / 4;
    display: flex;
    justify-content: space-between;
}
.container-marker-won{
    order: 1;
}
.container-marker-lost{
    order: 1;
}
.container-marker-won, .container-marker-lost{
    visibility: hidden;
    bottom: 70px;
    font-size: 2em;
    grid-column: 1/2; /*   1 / 2 -----  3/4*/
    padding: 10px;
    border-radius: 10px;
    
}
.boton-game-again{
    visibility: hidden;
    
    display: inline;
}

/* history-game */
.container-history-game-div{
    overflow-y: scroll;

}
.container-history-game{
    
    padding: 2px;
    height: 500px;
    word-wrap: break-word;
    font-weight: bolder;
}
.container-history-game li{
    background-color: rgba(0, 0, 0, 0.473);
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid black;
    margin: 2px;
    font-weight: bolder;
}
.container-history-game img{
    width: 30px;
}

